/db_project_client/db_project_client/x64
/db_project_server/.vs/db_project_server/CopilotIndices
/db_project_server/.vs/db_project_server/FileContentIndex
/db_project_server/.vs/db_project_server/v17
/db_project_server/db_project_server/x64
/db_project_client/.vs/db_project_client/CopilotIndices
/db_project_client/.vs/db_project_client/FileContentIndex
/db_project_client/.vs/db_project_client/v17
/db_project_server/x64/Debug
/db_project_server/x64/Release
/db_project_client/x64/Debug
